<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FMR300">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0023024 -0.0018183 0.46843"
        rpy="0 0 0" />
      <mass
        value="250" />
      <inertia
        ixx="0.88449"
        ixy="0.00017542"
        ixz="0.022848"
        iyy="1.325"
        iyz="-0.00040944"
        izz="1.5047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/AMR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/AMR.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="driving_wheel">
    <inertial>
      <origin
        xyz="-9.06764386117281E-05 -0.0493227062820876 9.13568922948915E-05"
        rpy="0 0 0" />
      <mass
        value="1.26057772812278" />
      <inertia
        ixx="0.00196878456779204"
        ixy="1.53979747484883E-06"
        ixz="-3.46336856758748E-06"
        iyy="0.00374520796334388"
        iyz="1.3364373891923E-06"
        izz="0.00217238949226521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/driving_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/driving_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_wheel1"
    type="continuous">
    <origin
      xyz="0 0.2858 0.0825"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="driving_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="driving_wheel2">
    <inertial>
      <origin
        xyz="9.06764996809126E-05 0.0493227062820689 9.13568197185022E-05"
        rpy="0 0 0" />
      <mass
        value="1.26057772812207" />
      <inertia
        ixx="0.00196878456870053"
        ixy="1.53979744375E-06"
        ixz="3.46336455849254E-06"
        iyy="0.00374520796334207"
        iyz="-1.3364373560009E-06"
        izz="0.00217238949135589" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/driving_wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/driving_wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="driving_wheel2"
    type="continuous">
    <origin
      xyz="0 -0.2858 0.0825"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="driving_wheel2" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="universal_wheel1">
    <inertial>
      <origin
        xyz="-0.0010879795287409 0.00388696244652245 -0.0176393476865022"
        rpy="0 0 0" />
      <mass
        value="0.0818891380703348" />
      <inertia
        ixx="5.91872581994778E-05"
        ixy="-2.84487323932676E-06"
        ixz="-3.07938914915051E-06"
        iyy="7.1064823969666E-05"
        iyz="1.07932761271879E-05"
        izz="6.62650018504877E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel1"
    type="continuous">
    <origin
      xyz="-0.287 0.209 0.0945"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="universal_wheel1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="universal_wheel11">
    <inertial>
      <origin
        xyz="0.0257395931351377 -3.44713817601594E-07 -7.29269674626387E-06"
        rpy="0 0 0" />
      <mass
        value="0.164828810163177" />
      <inertia
        ixx="0.00011565297044345"
        ixy="3.49981437992013E-12"
        ixz="-1.37274836403732E-11"
        iyy="6.43246519295217E-05"
        iyz="1.72863122497719E-11"
        izz="6.43235182017835E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel11"
    type="continuous">
    <origin
      xyz="-0.029728 0.01338 -0.0564"
      rpy="0 0 0.23754" />
    <parent
      link="universal_wheel1" />
    <child
      link="universal_wheel11" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="universal_wheel2">
    <inertial>
      <origin
        xyz="0.0010879795287409 -0.00388696244652265 -0.0176393476865022"
        rpy="0 0 0" />
      <mass
        value="0.081889138070335" />
      <inertia
        ixx="5.91872581994779E-05"
        ixy="-2.84487323932687E-06"
        ixz="3.07938914915037E-06"
        iyy="7.10648239696664E-05"
        iyz="-1.07932761271881E-05"
        izz="6.62650018504879E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel2"
    type="continuous">
    <origin
      xyz="-0.287 -0.209 0.0945"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="universal_wheel2" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="universal_wheel22">
    <inertial>
      <origin
        xyz="0.0257395931351379 -3.44713817546083E-07 -7.29269674581978E-06"
        rpy="0 0 0" />
      <mass
        value="0.164828810163178" />
      <inertia
        ixx="0.00011565297044345"
        ixy="3.49981446208232E-12"
        ixz="-1.37274836147788E-11"
        iyy="6.43246519295217E-05"
        iyz="1.72863120559384E-11"
        izz="6.43235182017836E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel22.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel22.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel22"
    type="continuous">
    <origin
      xyz="0.0297283654014721 -0.0133801836891925 -0.0564"
      rpy="0 0 -2.90404949909861" />
    <parent
      link="universal_wheel2" />
    <child
      link="universal_wheel22" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="universal_wheel3">
    <inertial>
      <origin
        xyz="-0.00388696244652256 -0.00108797952874101 -0.0176393476865018"
        rpy="0 0 0" />
      <mass
        value="0.0818891380703349" />
      <inertia
        ixx="7.10648239696663E-05"
        ixy="2.84487323932669E-06"
        ixz="-1.07932761271881E-05"
        iyy="5.91872581994777E-05"
        iyz="-3.07938914915032E-06"
        izz="6.62650018504876E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel3"
    type="continuous">
    <origin
      xyz="0.2535 -0.178 0.0945"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="universal_wheel3" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="universal_wheel33">
    <inertial>
      <origin
        xyz="0.0257395931351377 -3.44713817490572E-07 -7.29269674604183E-06"
        rpy="0 0 0" />
      <mass
        value="0.164828810163178" />
      <inertia
        ixx="0.000115652970443451"
        ixy="3.49981439262562E-12"
        ixz="-1.37274836688913E-11"
        iyy="6.43246519295222E-05"
        iyz="1.72863121061089E-11"
        izz="6.43235182017836E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel33.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel33.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel33"
    type="continuous">
    <origin
      xyz="-0.0133801836891926 -0.029728365401472 -0.0564"
      rpy="0 0 1.80833948128608" />
    <parent
      link="universal_wheel3" />
    <child
      link="universal_wheel33" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="universal_wheel4">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel4"
    type="continuous">
    <origin
      xyz="0.2535 0.178 0.0945"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="universal_wheel4" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="universal_wheel44">
    <inertial>
      <origin
        xyz="0.0257395931351378 -3.44713817546083E-07 -7.29269674626387E-06"
        rpy="0 0 0" />
      <mass
        value="0.164828810163178" />
      <inertia
        ixx="0.00011565297044345"
        ixy="3.49981433418034E-12"
        ixz="-1.37274836381953E-11"
        iyy="6.43246519295219E-05"
        iyz="1.72863118968994E-11"
        izz="6.43235182017836E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel44.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flexiv_amr_description/fmr_300/meshes/universal_wheel44.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="universal_wheel44"
    type="continuous">
    <origin
      xyz="0.0133801836891926 0.0297283654014721 -0.0564"
      rpy="0 0 -1.33325317230372" />
    <parent
      link="universal_wheel4" />
    <child
      link="universal_wheel44" />
    <axis
      xyz="1 0 0" />
  </joint>

  <link name="imu_link" />
  <joint name="imu_joint" type="fixed">
    <origin
      xyz="0 0 0.2"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
  </joint>

</robot>
